[submodule "pz-scripts-data"]
	path = pz-scripts-data
	url = https://github.com/PZ-Wiki-Modding/pz-scripts-data
[submodule "pz-lua-parser"]
	path = pz-lua-parser
	url = https://github.com/PZ-Wiki-Modding/pz-lua-parser
[submodule "pz-translation-data"]
	path = pz-translation-data
	url = https://github.com/PZ-Wiki-Modding/pz-translation-data
[submodule "pz-java-parser"]
	path = pz-java-parser
	url = https://github.com/PZ-Wiki-Modding/pz-java-parser
[submodule "pz-rosetta-source"]
	path = pz-rosetta-source
	url = https://github.com/PZ-Umbrella/pz-rosetta-source
